@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
  border: 1px solid purple;
  min-height: 50vh;
  position: relative;
  overflow: hidden;
}

.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}

.app-overlay-container {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.app-overlay-container:empty {
  display: none;
}


.website {
  height: 300px;
  border: 1px solid red;
  margin: 30px 0;
}


/**  Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license */